@import "/reactshoppingcartlogo.scss";
@import "/productsonpageform.scss";
@import "/productsincart.scss";
.navbar {
  .site-logo {
    margin-right: auto;
  }
  > {
    .container-navbar-inner {
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.container-navbar-inner {
  > :not(:first-child) {
    margin-left: 2rem;
  }
}
