@import "/reactshoppingcartlogo.scss";
@import "/productsonpageform.scss";
@import "/productsincart.scss";
.navbar {
  position: fixed;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .site-logo {
    margin-right: auto;
  }
  form.products-on-page {
    margin-top: 1rem;
    flex: 1 1 100%;
    margin-left: 0;
    margin-right: auto;
    max-width: unset;
    @media (min-width: 576px) {
      margin-left: 2rem;
      margin-right: 0;
      margin-top: 0;
      flex-basis: 0%;
      max-width: 13rem;
    }
    @media (min-width: 992px) {
      margin-left: 0;
    }
  }
  > {
    .container-navbar-inner {
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.container-navbar-inner {
  > :not(:first-child) {
    margin-left: 2rem;
  }
  .site-logo {
    + * {
      @media (min-width: 992px) {
        margin-left: 0;
      }
    }
  }
}
