@import "./imports/common.scss";
@import "./imports/counter.scss";
@import "./imports/navbar.scss";

// App Specific Styles Irrelevant to the Components Styles.
.navbar > .container-navbar-inner {
  align-items: stretch;
}
.ctnr-products-in-cart-qty {
  margin-top: auto;
  margin-bottom: 0.5rem;
}
